a:link {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Rubik+Glitch&display=swap');

body {
  background-color: #529AC7;
}
a:link {
  text-decoration: none;
}
    
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  width: 40%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 2rem 5rem 3rem 5rem;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(5px);
}

.card > h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-size:2em;
    width:90%;
    margin-bottom:30px;
    margin-left:20px;
    padding-bottom:10px;
    border-bottom:4px solid black;
   margin-left:2.5rem;
  
}

.card > .card-content {
  margin-top:0;
  padding-top:0;
  font-size:1rem;
  list-style: none;
}
.card li {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 0.8rem;
}


.title {
  text-align: center;
  width: 40%;
  margin-top: 20px;
}

.title > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3rem;
  color: #ffffff;
}

